.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    list-style: none;
    margin-left: -15px;
    border-bottom: 1px solid white;
}

.dropdown:hover .dropdown-menu {
    display: block;
}